input[type=text], input[type=email], input[type=tel], input[type=password], textarea{
	border:1px solid #d4d4d4;
	font-size:12px;
	padding:7px;
	margin:5px 0;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	outline:none;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=tel]:focus, textarea:focus{
	
}
textarea{
	width:450px;	
}
select{
	font-style:normal;
	font-family:Arial, Helvetica, sans-serif;	
}
input[type=submit], .submit{
    cursor: pointer;
	padding:9px 15px;
	font-family:Arial, Helvetica, sans-serif;
    border: 3px solid #91071a;
    background-color: #6d0f1b;
    color: #fff;
    font-family: "Arial";
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    margin: 7px 0 0 0;

}
.submit:hover, input[type=submit]:hover{
	text-decoration:none !important;
    border: 3px solid #af152b;
    background-color: #851827;
}
input[type="submit"].submit2, .submit2{
	
	color: #fff; /* text color */
	font-size: 18px;
	height:44px;
	width:230px;
	font-weight:normal;
	background-color:#ff7800;
	cursor:pointer;
	border: none;
	margin:40px auto;
	display:block;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
}
input[type=submit]:disabled{
	opacity:0.5;	
}
input[type=submit]:hover{
	color:#eee;
}
label{
	font-family:Arial, Helvetica, sans-serif;
	display:inline-block;
	color:#000;
	font-size:15px;
}
#formID label{
	font-size:13px;
	color:#6d6d6d;	
}