html{

}
*{ outline:none; }
body{
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 14px;
    margin:0;
    padding: 0;

}
a{
    color:#000;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
p{
    margin:0 0 10px;
}
a img{
    border:none;
}
h1, h2, h3, h4	,h5{
    margin:38px 0 15px 0;
    color: #000;
}

.title{
    margin:0 0 30px 0;
    color:#000;
    font-family: 'Lobster', cursive;
    font-size:27px;
    padding:6px  15px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font-weight: normal;
    border-radius: 7px;
    background-image: url(../images/title_bg.jpg);
}
.clear{
    clear:both;
}
#loading{
    position:absolute;
    top:47%;
    left:48%;
}
#breadcrumbs{
    margin-bottom:20px;
    color: #124989;
    font-size: 13px;
    font-weight: bold;
    font-style:italic;
}
#breadcrumbs a{
    color: #000000;
    font-size: 13px;
    font-style:italic;
    font-weight: normal;
    text-decoration:none;
}
#breadcrumbs a:hover{
    text-decoration:underline;
}
#breadcrumbs a, #breadcrumbs span{
    position: relative;
    color:#000;
}

#breadcrumbs span{

    width:5px;
    height:10px;
    display:inline-block;
    margin: 0 5px;
}
#seo_div{
    margin:70px 0 20px 0;
    line-height:20px;
    color:#2a2f32;
    text-align:justify;
}
#wrapper{
    padding:0 0 1px 0;
}
.content, .holder{
    max-width:1230px;
    min-width: 960px;
    margin:0 auto;
    padding: 0 10px;
    position:relative;
}
#content_body{
    min-height:620px;
}

#header{

    padding:5px 0;
}
.tb_h{
    display:table;
    width:100%;
}
#logo, .top_phone, #basket_block2{
    display:table-cell;
    vertical-align:top;
}
#logo{
    width:135px;
    padding: 0 70px 0 0;
}
#slogan{
    font-weight:bold;
    font-style:italic;
    font-size:15px;
    color:#ea5e2b;
}
#config_block{
    margin-top:5px;
    text-align:center;
}
#config_block a{
    color:#4e4e4e;
    font-size:15px;
}
#config_block a:hover, #config_block a.hov_currency{
    color:#ff8325;
}
.top_phone{
    min-width:175px;
    padding:0 45px 0 0;
}
.sort_table_rubber .top_phone{

}
.top_phone p{
    margin:0;
    height:auto;

}
.top_phone_in{
    color:#6d0f1c;
    font-size:22px;
    margin: 0 auto;
    width: 563px;
    text-align: center;
}
.top_phone_in span{
    font-weight:bold;
}
.delivery_time{
    color:#78756c;
    font-weight:bold;
    font-size:13px;
    display:inline-block;
}
#callback_link{
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    color:#404041;
    text-transform:uppercase;
    padding:2px 10px 2px 25px;
    margin-left:3px;
    background-image:url(../images/callback.jpg);
    background-repeat:no-repeat;
    background-position:left;
}
#callback_link:hover{
    text-decoration:underline;
}
.link_gray{
    padding:2px 0 2px 0;
    position:relative;
    text-transform:uppercase;
    font-size:11px;
}

#search_block{
    width:563px;
    position:relative;
    padding:12px 0 0 0;
    margin: 0 auto;
}
#search_block input[type=text]{
    width:540px;
    padding: 10px;
    border: 1px solid #6d0f1c;
    color: #696969;
}
#search_block input[type=image]{
    position:absolute;
    top:15px;
    right:9px;
}
#search_block form{
    position:relative;
}
#search_block a{
    display:inline-block;
    color:#404041;
    font-size:11px;
    text-transform:uppercase;

}
#search_block a:hover{
    color:#6d0f1c;
}
#search_block a.favorite{
    margin:5px 65px;
}
.viewed{

}
.link_gray i{
    background-image:none;
    width:17px;
    height:15px;
    display:inline-block;
    vertical-align:top;
    margin-right: 5px;

}
#footer .top_phone_in{
    margin:20px 0 5px 0;
}
#login{
    color:#fff;
    position:absolute;
    right:10px;
    top:7px;
}
#login a{
    color:#faf4ec;
    font-size:12px;
    text-decoration:none;
}
#login a:hover{
    text-decoration:underline;
}
#login span{
    padding:0 13px;
}
#login a.enter{
    background-image:url(../images/boy.jpg);
    background-position:left;
    background-repeat:no-repeat;
    padding:0 0 0 25px;
    text-decoration:none;
}
#login a.enter:hover{
    text-decoration:underline;
}
#login a.submit{
    display:table;
    color: #5b5f61;
    text-decoration:none;
    font-style:normal;
    margin:20px auto 0 auto;
}
#basket_block2{
    color:#585c5c;
    font-size:13px;
    width:161px;
    line-height:17px;
}
#basket_block{
    height:27px;
    background-image:url(../images/basket_bg.png);
    background-repeat:no-repeat;
    background-position:top;

    padding:14px 0px 0 66px;
    margin:10px 0;

    color:#faf4ec;
    font-size:14px;
    font-style: italic;
}
#basket_block a{
    font-size:14px;
    color:#000;
    display:block;
    text-decoration:none;

}
#basket_block a:hover{
    text-decoration:underline;
}
#check_total{
    color:#000;
    font-size:13px;
    font-style: normal;
    font-weight: bold;
    margin:10px 0 0 -26px;
    text-align: center;
    padding:6px 0;
}
#check_total a{
    border: 3px solid #91071a; /* stroke */
    background-color: #6d0f1b; /* layer fill content */
    color: #fff; /* text color */
    font-family: "Arial";
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin: 7px 0 0 0;
}
#check_total a:hover{
    border: 3px solid #af152b;
    text-decoration: none;
    background-color: #851827;
}
#footer{
    margin-top:75px;
    padding-bottom:7px;
    font-size:14px;
    color:#76746c;
    z-index:2;
    position: relative;
}
#footer h4{
    margin-bottom: 5px;
}
.footer_left, .footer_right{
    width:470px;
    display:table-cell;
    vertical-align:top;
    font-size:12px;
}
.footer_left{
    width:500px;
    padding-top: 10px;
}
.footer_left h3{
    color: #76746C;
    font-size: 18px;
    line-height: 20px;
    font-weight:bold;
}
.footer_left .div_menu{
    width:150px;
    padding-right:15px;
}
.footer_left p{
    margin:0;
}
.footer_right, .footer_right a{
    text-align:right;
    color:#000;
    font-size:14px;
}
.footer_right a{
    text-decoration:underline;
}
.footer_right a:hover{
    text-decoration:none;
}
.footer_left ul{
    list-style:none;
    padding:0;
    margin:0;
    width:200px;
    float:left;
}
.footer_left li a{
    color:#76746C;

}
.footer_left li{
    padding:3px 0;
}
.footer_left li a:hover{
    color:#c66f6f;
}
.text_foot{
    width:200px;
    float:left;
}

.footer_left ul.menu_foot{
    width:300px;
    float:left;
}
#copyright{
    text-align:left;
    margin:50px 0 0 0;
}
.text_content{
    padding:0 0 0 19px;
}

.title_left{
    background-color:#000;
    color:#fff;
    padding:10px 0;
    margin-bottom:16px;
    text-align:center;
}

.form_feedback label{
    width:100px;
    display:inline-block;
    margin-top: 13px;
    vertical-align: top;
}
.form_feedback input[type=text]{
    width:250px;
}
.form_feedback input[type=submit]{
    margin:10px 0 0 50px;
}
.form_feedback{

}
.form_feedback label{
    display:block;
}
.form_feedback input[type=text], .form_feedback textarea{
    width:450px;
    margin:0;
}

.err{
    color:#F00;
    font-size:17px;
    margin:10px 0;
}
#auth_message .err{
    font-size:12px;
    margin:3px;
}
.done{
    color:#090;
    font-size:17px;
    margin:10px 0;
}
.link_city, .change_city{
    color:#ab4eb6;
    font-size:14px;
    border-bottom:1px dashed #ab4eb6;
    text-decoration:none;
}
.link_city:hover{
    border-bottom:1px dashed #000;
}
.city_list{
    margin-bottom:10px;
}
.city_list ul{
    padding:0 15px;
    width:200px;
    display:table-cell;
    vertical-align:top;
    list-style:none;
}
.city_list li{
    line-height:35px;
}
.city_list li.selected a{
    color:#333;
    border:none;
}

.paging{
    text-align:right;
    margin:20px 0;


    color:#000;
    font-family: 'Lobster', cursive;
    padding:6px  15px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font-weight: normal;
    border-radius: 7px;
    background-image: url(../images/title_bg.jpg);
}
.paging a{
    margin-right:5px;
    text-decoration:none;
    display:inline-block;
    padding:3px 6px;
    font-size:17px;
    color:#000;
    font-weight:bold;
    font-family: 'Lobster', cursive;
}
.paging span, .paging a:hover{
    font-size:24px;
    margin-right:5px;
    display:inline-block;
    color:#000;
    font-weight:bold;
    padding:3px 6px;
    text-decoration: underline;
}
.paging a:hover{
    font-size:17px;
}
.name_comment_left{
    font-size:13px;
    color:#757779;
    margin-bottom:5px;
}
.text_comment_left{
    color:#2a2f32;
    margin-bottom:20px;
    line-height:18px;
}
.all_comments{
    font-size:13px;
}
.last_order{
    text-align:center;
}
.last_order a{
    display:block;
    color:#ab4eb6;
    font-size:15px;
    margin-bottom:5px;
}
.photos{
    width:150px;
    float:left;
    margin:15px 0 0 112px;
    text-align:center;
}
.photos img{
    margin-bottom:10px;
}
.see_all{
    margin-top:72px;
    width:200px;
    float:left;
    display:block;
    text-align:right;
    font-size:13px;
    font-style:italic;
}

.bot_text{
    width:798px;
    display:table-cell;
    vertical-align:top;
    padding:0 42px 0 0;
    color:#404041;
    font-size:13px;
    line-height:20px;
}
.sort_table_rubber .bot_text{
    width: 1289px;
}
#news_block{
    margin:50px 0;
}
.news_block{
    margin:0 40px 40px 0;
    position:relative;
    width: 210px;
    float: left;

}
.news_block img{
    width:210px;
    float:left;
    margin:0 0 10px 0;
}
.date{
    color:#515151;
    font-style:italic;
    font-size:13px;
    margin-bottom:10px;
}
.news_desc{
    color:#76746c;
    font-size:14px;
    margin:7px 0 30px 0;
    line-height:18px;
}
.news_title{
    color:#515151;
    font-size:13px;
    text-decoration:underline;
}
.news_title:hover{
    text-decoration:none;
}
.all_news{
    font-size:12px;
    font-style:italic;
    text-decoration:underline;

}
.all_news:hover{
    text-decoration:none;
}
#news_title{

    margin:0 0 20px 0;
}
.photo{
    width:150px;
    height:250px;
    float:left;
    margin:0 133px 55px 0;
}
.photo img{
    margin-bottom:5px;
}
#tabs{
    background-image:url(../images/top_tabs.jpg);
    background-repeat:repeat-x;
    background-position:top;
    margin:50px 0;
}
#tabs ul#tabs_ul{
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    z-index:9;

}
#tabs ul#tabs_ul li{
    padding:12px 10px 11px 10px;
    background-color:#dbefff;
    border:1px solid #80c8ff;
    border-bottom:none;
    float:left;
    vertical-align:middle;
    font-size:13px;
    color:#000;

    text-align:center;
    font-weight:400;
    cursor:pointer;
    width:126px;
    margin-left:3px;

    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0 ;
}
#tabs ul#tabs_ul li:first-child{
    margin-left:0;
}
#tabs ul#tabs_ul li#Comments{

}
#tabs ul#tabs_ul li:hover, #tabs ul#tabs_ul li.hov_tab{

    background-color: #bee3ff;
    padding:12px 10px;
}
#tabs div.div_tab{
    display:none;
    margin:-1px 0 0 0;
    padding-top:15px;
    color:#000;
    font-size:13px;
    padding:15px;
    background-color:#bee3ff;
    border:1px solid #80c8ff;

    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}
#tabs div.hov_tab{
    display:block;
}
.title_other{
    margin:50px 0 35px 0;
    color:#379f20;
    font-size:19px;
    font-family: 'Exo 2', sans-serif;
    text-transform:uppercase;
}

#article_block{
    width:810px;
    float:left;
    margin-right:30px;
}
.article_block{
    width:180px;
    float:left;
    margin:0 30px 20px 0;
}
.article_title{
    font-size:12px;
    display:block;
    margin:7px 0 10px 0;
    min-height:30px;
}
.article_body_m{
    font-size:12px;
    color:#6d6d6d;
}
#subcriber{
    width:390px;
    float:left;
}
#subscribe-email{
    width:70%;
}
#subcriber input[type=image]{
    position:absolute;
    margin:5px 0 0 -14px;
}
#subcriber .title_other, #article_block .title_other{
    margin:20px 0 4px 0;
}
.banner_left, .banner_right{
    width:210px;
    float:left;
    position:relative;
}
.banner_right{
    text-align:right;
}
.banner_left .border_cat, .banner_right .border_cat{
    width:176px;
    height:176px;
    top:0;
}
.banner_right .border_cat{
    right:0;
}
.banner_left p, .banner_right p{
    position:relative;
    margin-bottom:30px;
}
.banner_left p:hover .border_cat, .banner_right p:hover .border_cat{
    border-color:#ececec;
}

#results_search{
    position:absolute;
    background-color:#fff;
    border: 1px solid #6d0f1c;
    z-index:99;
    width:560px;
    margin-top:-6px;
    display:none;
    color:#333;
}
#results_search ul{
    list-style:none;
    padding:0;
    margin:0;
}
#results_search li{
    padding:3px;
    cursor:pointer;
}
#results_search li a{
    text-decoration:none;
}
#results_search li:hover{
    background-color:#f8f8f8;
}
.search_photo, .search_name{
    width:50px;
    display:table-cell;
    vertical-align:middle;
}
.search_photo img{
    width:50px;
}
.search_name{
    width:482px;
    padding-left:10px;
    font-size:12px;
}

#auth_form label{
    width:80px;
}

.add_compare, .add_fav, .add_video{
    position:relative;
    display: inline-block;
}
.add_compare, .sort_line .add_fav, #product_right .add_fav{
    margin-right:13px;
}
.follow_price{
    float:right;
    margin:10px 28px 0 0;
}
.add_video{

    margin-top:10px;
}
.product a.add_compare, .product a.add_fav, .product a.add_video{
    color: #404041;
    font-size: 11px;
}
.product a.add_compare:hover, .product a.add_fav:hover, .product a.add_video:hover{
    color: #1d8c04;
    text-decoration:none;
}
#reviews {
    margin-top: -94px;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 200;
}


/* view sort_table_rubber*/
.sort_table_rubber .content{
    width:91%;
    min-width: 1000px;
    max-width: 1716px;
}

.sort_table_rubber .right_col{
    width:auto;
}

.sort_table_rubber #sort_block{
    width:100%;
}
.sort_table_rubber .footer_left, .sort_table_rubber .footer_right {

}
.footer_tb{
    display:table;
    width:100%;
    margin-top:35px;
}
.footer_tb ul{
    display:table-cell;
    vertical-align:top;
    color:#404041;
    font-size:13px;
    padding-left:15px;
    line-height:24px;
}
.footer_tb ul li{

}
.footer_tb ul a{
    color:#404041;
    font-size:13px;
    display:inline;
    padding:2px 0;
}
.footer_tb ul a.feedback_link{
    display:inline;
    color:#379f20;
    font-size:13px;
    text-decoration:underline;
}
.footer_tb ul a.feedback_link:hover{
    text-decoration:none;
}
.sort_table_rubber .product:nth-child(6n) {
    margin-right:0;
}
/* end view sort_table_rubber*/


/* view sort_line*/
.sort_line .product{
    float:none;
    margin:50px 0 0 0;
    width:auto;
    height: 200px;
    border:1px solid #fff;
    background-color:#fff;
    padding-top: 15px;
}
.sort_line .product .photo_product{
    width:221px;
    float:left;
}
.sort_line .product .info_product{
    width:743px;
    float:left;
    padding-left:40px;
    height:146px;
    margin:0 0 0 -1px;
    border:1px solid #000;
    border-color:transparent;
}
.sort_line .name_product, .sort_line .product_desc{
    text-align:left;
}
.sort_line .product .fav_block{
    position:absolute;
    right:20px;
    top:87px;
}
.sort_line .product_desc{
    position:absolute;
    display:block;
    top: 48px;
}
.sort_line  .product .name_product{
    width:auto;
    vertical-align:top;
    height:33px;
    margin-bottom: 71px;
    display: block;
}
.sort_line  .product .name_product a{
    font-weight:bold;
}
.sort_line .productin-count{
    margin-left:0;
}
.sort_line .buy {
    margin-left:-5px;
}

.sort_line .product.hov_product{
    border-color:#c0c0c0;
}

/* end view sort_line*/

.fav_h2{
    margin-bottom:-10px;
    font-size:18px;
    font-weight:bold;
}
.del_compare2{
    position:absolute;
    margin:-8px 0 0 -7px;
    z-index:6;
}

.order__long {
    background: none repeat scroll 0 0 #F0EEE9;
    padding: 15px 97px 12px 100px;
}

.order__long__textarea span, .order__long__l label span, .order__long__r label span {
    color: #76746C;
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding: 0 0 3px;
}

.order__text {
    border-left: 5px solid #EA6111;
    color: #76746C;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 13px;
    padding: 0 0 0 10px;
}

.order h3 {
    color: #76746C;
    font-size: 26px;
    line-height: 28px;
    padding: 0 0 14px;
    font-weight:bold;
    text-align:center;
}
.order__short {
    background: none repeat scroll 0 0 #F0EEE9;
    height: 64px;
    margin: 0 0 15px;
    text-align: center;
}
.order__short div input {
    border: 1px solid #B1AFA8;
    float: left;
    font-size: 15px;
    height: 32px;
    margin: 0 9px 0 0;
    padding: 0 5px;
    width: 255px;
}
.order__short div.clearfix {
    height: 50px;
    margin: 0 auto;
    padding: 14px 0 0;
    position: relative;
    width: 378px;
}
.order__short div .icon {
    float: none;
    left: -24px;
    margin: 0;
    position: absolute;
    top: 19px;
}
.order__short div .icon {
    float: none;
    left: -24px;
    margin: 0;
    position: absolute;
    top: 19px;
}
.order__short div .icon {
    float: none;
    left: -24px;
    margin: 0;
    position: absolute;
    top: 6px;
}
.top_phone_order{
    width:300px;
    float:left;
    position:relative;
    margin:15px 0 0 116px;
}
.icon_phon {
    background-position: -255px -31px !important;
    height: 24px;
    width: 13px;
}
.icon {
    background: url("../images/s.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 26px;
    margin: 0 0 0 9px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 17px;
}

.order__short div input + input {
    width: 265px;
}
.order__long__l label input {

    margin: 0 0 15px;
    width: 243px;
}
.order__long__r__two label input {

    width: 270px;
}

.order__long__r__two label + label input[type=text] {
    margin: 0;
    width: 95px;
}
.order__long__r__five label + label {
    width: 85px;
}
.order__long__r__five label + label input[type=text] {
    width: 72px;
}
.order__long__r__five label + label + label {
    width: 60px;
}
.order__long__r__five label + label + label input[type=text] {
    width: 34px;
}
.order__long__r__five label + label + label + label + label input[type=text] {
    width: 87px;
}
.order__long__r__five label input[type=text] {

    width: 46px;
}
.order__long__r__five label + label + label {
    width: 47px;
}
.order__long__r__five label + label + label + label + label {
    width: 100px;
    margin:0;
}
.order__long__r__five label + label {
    width: 85px;
}
.order__long__r__five label{
    margin-right:10px;
}

.order__long__l {
    float: left;
    padding: 0 134px 0 0;
    width: 245px;
}
.order__long__r {
    float: left;
    width: 393px;
}

.order__long__textarea {
    clear: both;
    display: block;
    padding: 14px 0 19px;
}
.order input[type=text]{
    margin-top:0 !important;
}
.order__long__r__two {
    padding: 0 0 15px;
}

input[type=submit].btn_orange {
    width:234px;
    height: 41px;
    line-height: 35px;
    padding: 0 9px 8px 31px;
    background: url("../images/buy2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    margin:0 auto;
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
    padding: 0 10px 0 15px;
    position: relative;
}
.order__long__textarea textarea {
    font-size: 14px;
    height: 79px;
    line-height: 15px;
    resize: none;
    width: 759px;
}
#cat_menu{
    margin:10px 0 18px 0;
}
#cat_menu ul{
    margin:0;
    padding:0;
    display:table;
    width:100%;

}

#cat_menu > ul > li{
    display:table-cell;
    text-align:center;
    background-color: #dbefff;
    border: 1px solid #83caff;
    vertical-align: top;
    position: relative;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 7px 7px 0 0;

}
#cat_menu ul li:hover{
    background-color: #bee3ff;
}
#cat_menu ul li a{
    height: 48px;
    color:#000;
    font-size:13px;
    display: table-cell;
    padding: 0 5px;
    vertical-align: middle;
}
#cat_menu ul li a:hover{
    color:#000;
    text-decoration:none;
}
.cat_img{
    position:relative;
}

.cat_block .cat_img img{
    z-index:5;
}
#cat_menu ul li span{

}
#cat_menu ul li:hover ul{
    display:block;
}
#cat_menu ul li:hover span{

}
#cat_menu ul li > ul{
    position:absolute;
    width:250px;
    border:1px solid #80c8ff;
    background-color:#bee3ff;
    padding:10px 15px 5px 15px;
    margin:2px 0 0 -1px;
    z-index:7;
    display:none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0 7px 7px 7px;


}
.line_menu{
    background-color: transparent;
    height: 2px;
    display: block;
    position: relative;
    top: 2px;
    z-index: 100;
}
#cat_menu ul li:hover .line_menu{

    background-color: #bee3ff;

}
#cat_menu ul ul li{
    display:block;
    text-align:left;
}
#cat_menu ul ul li a{
    text-transform:lowercase;
    color:#404041;
    font-size:14px;
    padding:5px 0;
    height: auto;
    display:inline-block;
    font-family:Arial, Helvetica, sans-serif;
}
#cat_menu ul ul li a:hover{
    text-decoration:underline;
}
#cat_menu ul ul li:hover{

}
.BWfade{
    z-index:11;
}
.cat_block .BWfade{
    z-index:6;
}
.subscribe_block .BWfade{
    margin-left:0 !important;
}
#bot_cat{
    display:table;
    width:100%;
    background-image:url(../images/footer_bg.jpg);
    padding:20px 0;
    font-size:9px;
    margin:60px 0;
}
#bot_cat ul{
    display:table-cell;
    width:400px;
    color:#fff;
    padding-left:50px;
}
#bot_cat a{
    color:#fff;
    font-size:15px;
    text-decoration:none;
    padding:5px 0;
    display:block;
}
#bot_cat a:hover{
    text-decoration:underline;
}
.subscribe_block{
    margin-bottom:50px;
    display:table;
    width:100%;
}
.subscribe_block input[type=text]{
    border:1px solid #80c8ff;
    display:inline-block;
    vertical-align:top;
    margin:1px 3px 0 0;
    padding:8px;
    font-style:italic;
}
.subscribe_block input[type="submit"]{

    color:#000;
    text-decoration:none;
    text-transform:none;
    font-style:italic;
    font-size:14px;
    padding:8px 10px;
    width:160px;
    display:inline-block;
    vertical-align:top;
    margin:1px 0 0 0;
    background-image: url(../images/title_bg.jpg);
    border-radius: 0;
    border: none;
}
.subscribe_block input[type="submit"]:hover{
    border-radius: 0;
    border: none;
    color: #666;
}
.subscribe_block p{
    margin:0;
}
.subscribe_block .left, #subscribe_form{
    display:table-cell;
    vertical-align:top;
}
.sort_table_rubber .subscribe_block .left{
    padding-left:30px;
}
.product a.add_from_cat{
    color:#4e4e4e;
    font-size:13px;
    text-decoration:underline;
}
.product a.add_from_cat:hover{
    text-decoration:none;
}
#subscribe_form{
    display:table-cell;
    width: 70%;
}
.close_m{
    background-color:transparent;
    border:none;
    color:#124989;
    font-size:14px;
    text-decoration:underline;
    cursor:pointer;
    font-family:Arial, Helvetica, sans-serif;
    padding-right:20px;
}
.close_m:hover{
    text-decoration:none;
}
.order_photo{
    border:1px solid #d1d1cf;
    width:120px;
}
.order_photo:hover{
    border:1px solid #555;
}
.product_block{
    padding:0 45px;
}
.cat_cont{
    margin-bottom: 20px;
}
.product_block ul{
    list-style:none;
}
.product_block .product{
}
#top-link {
    bottom: 0;
    display: none;
    left: 0;
    width: 45px;
    position: fixed;
    z-index: 99;
    background-color: #000;
    opacity: 0.1;
    height: 100%;
    text-align: center;

    webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
#top-link img{
    position: relative;
    top: 25%;
}
#top-link:hover{
    opacity:0.2;
    text-decoration:none;
}
#inform input[type=text]{
    margin:0 auto 5px auto;
    width:220px;
    display:block;
}
.cat_block{
    width:170px;
    float:left;
    margin:0 20px 30px 0;
    position:relative;
    text-align: center;
    height: 236px;

}
.cat_block:nth-child(63n) {
    margin-right:0;
}

.cat_block img{
    width:160px;
    height:160px;
    border: 6px solid #2190e5;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 87px;
    margin-bottom: 10px;
    webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.cat_block:hover img{
    border-color: #124989;
}
.cat_block a{
    color:#2190e5;
    font-size:20px;
    font-family: 'Lobster', cursive;
    webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    display: block;
}
.cat_block a:hover{
    text-decoration: none;
    color: #124989;
}